##
# Command class for the <%= command.upcase %> command
#
class <%= command.capitalize %>Command < Command
    ##
    # @inherit
    #
    def execute robot, arguments
        <%= command_body %>
    end

    ##
    # @inherit
    # 
    # By default this returns true, uncomment the following to override
    #
    # def should_lock?
    #     false
    # end
end